<!DOCTYPE html>
<html>
  <head>
    <title>Code Fellows Contact Manager</title>

    <!-- Bring In jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Bring In Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">

      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.10.8/jquery.tablesorter.min.js"></script>
<script>
      $(document).ready(function()
      {
      $("#contactList").tablesorter( {sortList: [[0,0], [1,0]]} );
      }
      );
</script>


      <!-- Application Styles and Scripts -->
    <link rel="stylesheet" href="/jsbootcamp.css">
    <script src="/contactlist.js"></script>
    <script>
      $(document).ready(function() {
        makeContactRowClickable();
      });
    </script>
  </head>

  <body>
  <header>Contact List of Wonder</header>
    <table class="table table-hover tablesorter"  id="contactList">
      <thead>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Nickname</th>
          <th>Company</th>
            <th>&nbsp;</th>
        </tr>
      <thead>

      <tbody>
        {{#each contacts}}
          <tr data-contact-guid="{{guid}}">
            <td>{{lastName}}</td>
            <td>{{firstName}}</td>
            <td>{{nickname}}</td>
            <td>{{company}}</td>
              <td><i class="fa fa-pencil fa-fw"> Edit</i></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </body>
</html>
