<!DOCTYPE html>
<html>
  <head>
    <title>Code Fellows Contact Manager</title>

    <!-- Bring In jQuery -->
    <script src="/bower_components/jquery/jquery.js"></script>

    <!-- Bring In Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
      <!-- Added files -->

      <!-- Application Styles and Scripts -->
    <link rel="stylesheet" href="/jsbootcamp.css">
      <script src="/bower_components/jquery.ui/ui/jquery.ui.core.js"></script>
      <script src="/bower_components/jquery.ui/ui/jquery.ui.widget.js"></script>
      <script src="/bower_components/jquery.ui/ui/jquery.ui.autocomplete.js"></script>
      <script src="/bower_components/jquery.ui/ui/jquery.ui.menu.js"></script>

      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
     <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
     <![endif]-->

      <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js">
          //tried running via bower but doesn't work.
          //perhaps this is related issue:
          // https://github.com/Leaflet/Leaflet/issues/1903

      </script>
      <script>
          $(document).ready(function($){
              var autoOpts = {
                  appendTo: "#moodlist",
                  source: [
                      "Accepted", "Accomplished", "Aggravated", "Alone", "Amused", "Angry", "Annoyed", "Anxious", "Apathetic", "Ashamed", "Awake",
                      "Bewildered", " Bittersweet", "Blah", "Blank", "Blissful", "Bored", "Bouncy",
                      "Calm", "Cheerful", "Chipper", "Cold", "Complacent", "Confused", "Content", "Cranky", "Crappy", "Crazy", "Crushed", "Curious", "Cynical",
                      "Dark", "Depressed", "Determined", "Devious", "Dirty", "Disappointed", "Discontent", "Ditzy", "Dorky", "Drained", "Drunk",
                      "Ecstatic", "Energetic", "Enraged", "Enthralled", "Envious", "Exanimate", "Excited", "Exhausted", "Flirty", "Frustrated", "Full",
                      "Geeky", "Giddy", "Giggly", "Gloomy", "Good", "Grateful", "Groggy", "Grumpy", "Guilty", "Happy", "High", "Hopeful", "Hot", "Hungry", "Hyper",
                      "Impressed", "Indescribable", "Indifferent", "Infuriated", "Irate", "Irritated", "Jealous", "Jubilant",
                      "Lazy", "Lethargic", "Listless", "Lonely", "Loved", "Mad", "Melancholy", "Mellow", "Mischievous", "Moody", "Morose",
                      "Naughty", "Nerdy", "Not Specified", "Numb", "Okay", "Optimistic", "Peaceful", "Pessimistic", "Pissed off", "Pleased", "Predatory", "Quixotic",
                      "Recumbent", "Refreshed", "Rejected", "Rejuvenated", "Relaxed", "Relieved", "Restless", "Rushed",
                      "Sad", "Satisfied", "Shocked", "Sick", "Silly", "Sleepy", "Smart", "Stressed", "Surprised", "Sympathetic",
                      "Thankful", "Tired", "Touched", "Uncomfortable", "Weird"                  ]
              };

              var moodselect =$('input[name="mood"]' );
             moodselect.autocomplete(autoOpts);

              moodselect.blur(function() {

                  $(this).addClass('moodBad' );
          });


          });
      </script>


   </head>

  <body>
    <div>
        {{#with profile}}
          <div class="header">
           <strong>{{firstName}} {{lastName}}</strong>  {{#if nickname}} (a.k.a. {{nickname}} ) {{/if}}
          </div>


          <div>
          <p>Works for: {{company}}</p>
          {{#if email}}<p>Contact {{firstName}} at <a href="mailto:{{email}}">{{email}}</a></p>{{/if}}
              <p>{{firstName}} occasionally dreams of spending time here:</p>
              <div id="map"></div>

              <form method="POST" class="form-horizontal" role="form">

                  <!--<div class="form-group">-->
                  <!--<label for="address">Street Address</label>-->
                  <!--<input type="text" class="form-control address" id="addresspicker" name="address" placeholder="Street  Address" value="{{address}}"/>-->
                  <!--</div>-->

                  <div>
                      <br />
                      <label for="email">So, how does that make you feel?</label>
                      <input type="text" class="form-control" id="mood" name="mood" placeholder="I feel..." value="{{mood}}"/>
                  </div>



                  <button type="submit" class="btn btn-default">Submit</button>

                  <div id="moodlist"></div>
              </form>
          </div>


        {{/with}}
        
        <button class="you-are-here">You Are Here</button>

    </div>
    <script src="/contactlist.js"></script>
    <script>
        // random coordinate generator from
        // http://stackoverflow.com/questions/6878761/javascript-how-to-create-random-longitude-and-latitudes
        function getRandomInRange(from, to, fixed) {
            return (Math.random() * (to - from) + from).toFixed(fixed) * 1;
            // .toFixed() returns string, so ' * 1' is a trick to convert to number
        }
        //var longitude = getRandomInRange(-180, 180, 6); //if we wanted the whole world, but too much ocean for now
        //var latitude = getRandomInRange(-90, 90, 6);
        var longitude = getRandomInRange(-18, 146, 6);
        var latitude = getRandomInRange(-45, 65, 6);
        // now I'm clearing out much of the Indian and Atlantic Oceans as a possible landing place.
        while (latitude <0 && longitude >52 && longitude< 95 || latitude <3 && longitude< 8) {
             longitude = getRandomInRange(-18, 146, 6);
             latitude = getRandomInRange(-45, 65, 6);
        }

        console.log(longitude);
        console.log(latitude);
        var latLng = new L.LatLng(latitude, longitude);

        var map = L.map('map').setView(latLng, 4);
        var marker = L.marker(latLng).addTo(map);


        L.tileLayer('http://{s}.tile.cloudmade.com/4733d063f9704b1c940a64459b1263e9/96931/256/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
            maxZoom: 18
        }).addTo(map);
        
        $(".you-are-here").on("click", function() {
          var setPosition = function(geo) {
            var latlng = new L.LatLng(geo.coords.latitude, geo.coords.longitude);
            var you = new L.marker(latlng).addTo(map);
            map.setView(latlng, 16);
          };
          navigator.geolocation.getCurrentPosition(setPosition);
        });

    </script>


  </body>
</html>
